html, body {
  margin: 0;
  padding:0;
  background-color: #242430;
}

#parent_div {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 0px;
  background-color: #242430;
  z-index: 1;
}

.page-section {
  width: 100%;
  height: 100vh;
}

#nav_bar {
  position: fixed;
  float: right;
  top: 50%;
  left: 100%;
  text-align: center;
  transform: translate(-110%, -50%);
  z-index: 15;
}

.navbar_item_image_div_active {
  border-style: solid;
  background-color: #ffffff;
  display: inline-block;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 30px;
  padding: 3px;
  margin: 10px;
}

.navbar_item_image_div {
  border-style: solid;
  display: inline-block;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 10px;
  background-color: #ffffff;
  height: 10px;
  width: 10px;
  margin: 7px;
}

.navbar_item_image_active {
  width: 30px;
  height: 30px;
}

.navbar_item_image {
  width: 0px;
  height: 0px;
}

#home_div {
  margin: 0px;
  display: flex;
  background-color: #242430;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

#sig_div {
  margin : 0px;
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #ffffff;
  z-index: 2;
}

#event_div {
  margin : 0px;
  display: flex;
  position: relative;
  background-color:lightgreen;
  z-index: 2;
}

#team_div {
  margin : 0px;
  display: flex;
  position: relative;
  background-color:lightblue;
  z-index: 2;
}

#footer_div {
  margin : 0px;
  display: flex;
  position: relative;
  background-color:darkred;
  z-index: 2;
}

#home_bg_text_container {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 3;
}

#bg_home_text {
  font-family: helvetica;
  font-size: 2500%;
  color: #2c2c38;
  margin-left:-6%;
  z-index: 3;
}

#home_acm_info_div {
  width: 900px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  padding: 20px;
}

#home_acm_big_logo {
  width: 300px;
  height: 300px;
  left: 100%;
  transform: translateX(-100%);
  margin-top: auto;
  margin-bottom: auto;
  position:absolute;
}

#home_acm_title {
  display: inline-block;
  width: 100px;
  margin-left: 5%;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

#home_acm_disc_1 {
  font-family: helvetica;
  font-size: 500%;
  color: #ffffff;
  margin: 10px;
  display: block;
  margin-top: 50%;
  position: absolute;
  z-index: 4;
}

#home_acm_disc_2 {
  font-family: helvetica;
  font-size: 500%;
  color: #ffffff;
  margin: 10px;
  display: block;
  margin-top: 125%;
  position: absolute;
  z-index: 4;
}

#home_acm_disc_3 {
  font-family: helvetica;
  font-size: 500%;
  color: #ffffff;
  margin: 10px;
  display: block;
  margin-top: 200%;
  position: absolute;
  z-index: 4;
}

#home_acm_top {
  margin-top: 2%;
  margin-left: 5%;
  position: absolute;
  display: inline-flex;
  z-index: 3;
}

#acm_logo_mini {
  width: 50px;
  height: 50px;
  z-index: 2;
}

#acm_logo_text {
  margin-left: 10px;
}

#acm_logo_text_1 {
  font-family: helvetica;
  color: #ffffff;
  font-size: 100%;
  margin-bottom: 12%;
}

#acm_logo_text_2 {
  font-family: helvetica;
  color: #ffffff;
  font-size: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
